header {
    position: relative;
    left: 200px;
    width: 1060px;
    height: 300px;
}
header h1 {
    font-family: 'Calibri';
    font-size: 50px;
}
header h2 {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: grey;

    position: relative;
    bottom: 30px;
}
header p {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: grey;

    position: relative;
    bottom: 20px;
}
.contact {
    position: absolute;
    left: 450px;
    top: 110px;
    display: flex;

    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: grey;
    direction: ltr;
}
.contact a {
    text-decoration: none;
    color: grey;
    direction: ltr;
}
.contact-info {
    margin-left: 30px;
    direction: rtl;
}
header img {
    position: relative;
    left: 800px;
    bottom: 200px;
    width: 250px;

}

main {
    position: absolute;
    left: 200px;  
    width: 1060px;
}
.title {
    font-weight: 400;
    font-family: monospace;
    font-size: 30px;
    color: grey;
}
.edu-div, .course-div, .skill-div, .lang-div {
    position: relative;
    left: 200px;
    bottom: 55px;
    border-left: 2px solid grey;
    width: 850px;
    padding-left: 40px;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(7, 7, 7);
}
.edu-div h4 {
    position: absolute;
    top: 20px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: grey;
}
time {
    position: absolute;
    left: 750px;
    top: 10px;
    font-family: cursive;
    color: grey;
    direction: rtl;
}
#course-time {
    left: 720px;
}
main .p {
    width: 600px;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    position: relative;
    top: 10px;
}

main p {
    width: 600px;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.course-div h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.edu-div {
    height: 110px;
}

.course-div {
    height: 150px;
}


footer {
    position: absolute;
    left: 200px; 
    top: 1750px;
}
footer p {
    width: 1060px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
footer p strong {
    color: rgb(7, 7, 7);
}
